<!-- Button trigger modal -->
<div class="top">

<div class="container">
{{#each listItems as |listItem|}}
  <div class="d-flex flex-row">
    <div class="align-self-center">
      <input data-id="{{listItem._id}}" type="checkbox" class="complete-item" {{completedStatus listItem}}>
    </div>
    <section data-id="{{listItem._id}}" class="card mb-2 mr-5 ml-5 item flex-fill">
      <div class="card-body">
        <h5 class="{{completedClass listItem}}">{{listItem.title}}</h5>
        <p class="{{completedClass listItem}}">{{listItem.description}}</p>


        <div class="visibleButtons">
          <!-- Button trigger modal -->
          <i class="fas fa-pencil-alt modal-launch p-1" data-toggle="modal" data-target="#list-item-{{listItem._id}}"></i>

          <i id="delete-list-item" class="fas fa-trash-alt p-1" data-id="{{listItem._id}}"></i>
        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" id="list-item-{{listItem._id}}" tabindex="-1" role="dialog" aria-labelledby="editListItem" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editListItem">Edit list item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form data-id="{{listItem._id}}" class="update-list-item">
              <textarea class="form-control" rows="1" type="text" name="listItem[title]" placeholder="Title">{{listItem.title}}</textarea>
              <textarea class="form-control" type="text" name="listItem[description]" placeholder="Description">{{listItem.description}}</textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary discard-changes" data-dismiss="modal">Discard Changes</button>
                <button type="submit" class="btn btn-info update-list-item">Save Changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</section>
</div>
{{/each}}
</div>
